launch=gmysql
daemon=no
guardian=no
local-address={{ docker_powerdns.dns.local_address }}
local-port={{ docker_powerdns.dns.container_port }}
version-string={{ docker_powerdns.security.version_string }}
gmysql-host={{ docker_powerdns.database.host }}
gmysql-port={{ docker_powerdns.database.port }}
gmysql-dbname={{ docker_powerdns.database.name }}
gmysql-user={{ docker_powerdns.database.user }}
gmysql-password={{ docker_powerdns.database.password }}
gmysql-dnssec={{ docker_powerdns.security.dnssec | ternary('yes', 'no') }}
api={{ docker_powerdns.api.enabled | ternary('yes', 'no') }}
api-key={{ docker_powerdns.api.key }}
webserver={{ docker_powerdns.api.enabled | ternary('yes', 'no') }}
webserver-address={{ docker_powerdns.api.address }}
webserver-port={{ docker_powerdns.api.port }}
webserver-allow-from={{ docker_powerdns.api.allow_from | join(',') }}
webserver-password={{ docker_powerdns.api.webserver_password }}
