ALLOWED_HOSTS={{ docker_netbox.allowed_hosts | join(' ') }}
API_TOKEN_PEPPER_1={{ docker_netbox.security.api_token_pepper_1 }}
CORS_ORIGIN_ALLOW_ALL={{ docker_netbox.options.cors_origin_allow_all }}
CSRF_TRUSTED_ORIGINS={{ docker_netbox.csrf_trusted_origins | join(' ') }}
DB_HOST=postgres
DB_NAME={{ docker_netbox.database.name }}
DB_PASSWORD={{ docker_netbox.database.password }}
DB_USER={{ docker_netbox.database.user }}
DB_CONN_MAX_AGE={{ docker_netbox.database.conn_max_age }}
DB_DISABLE_SERVER_SIDE_CURSORS={{ docker_netbox.database.disable_server_side_cursors }}
EMAIL_FROM={{ docker_netbox.email.from }}
EMAIL_PASSWORD={{ docker_netbox.email.password }}
EMAIL_PORT={{ docker_netbox.email.port }}
EMAIL_SERVER={{ docker_netbox.email.server }}
EMAIL_TIMEOUT={{ docker_netbox.email.timeout }}
EMAIL_USERNAME={{ docker_netbox.email.username }}
EMAIL_USE_SSL={{ docker_netbox.email.use_ssl }}
EMAIL_USE_TLS={{ docker_netbox.email.use_tls }}
GRAPHQL_ENABLED={{ docker_netbox.options.graphql_enabled }}
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED={{ docker_netbox.options.metrics_enabled }}
REDIS_CACHE_DATABASE={{ docker_netbox.redis.cache_database }}
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PASSWORD={{ docker_netbox.redis.cache_password }}
REDIS_DATABASE={{ docker_netbox.redis.database }}
REDIS_HOST=redis
REDIS_PASSWORD={{ docker_netbox.redis.password }}
RELEASE_CHECK_URL={{ docker_netbox.options.release_check_url }}
SECRET_KEY={{ docker_netbox.security.secret_key }}
SKIP_SUPERUSER={{ (not (docker_netbox.superuser.enabled | bool)) | ternary('true', 'false') }}
WEBHOOKS_ENABLED={{ docker_netbox.options.webhooks_enabled }}
{% if docker_netbox.superuser.enabled | bool %}
SUPERUSER_NAME={{ docker_netbox.superuser.name }}
SUPERUSER_EMAIL={{ docker_netbox.superuser.email }}
SUPERUSER_PASSWORD={{ docker_netbox.superuser.password }}
{% if docker_netbox.superuser.api_token | length > 0 %}
SUPERUSER_API_TOKEN={{ docker_netbox.superuser.api_token }}
{% endif %}
{% endif %}
{% for key, value in docker_netbox.extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
