[Unit]
Description=TACACS+ Docker Compose service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ docker_tacacs_plus.project_dir }}
ExecStart={{ docker_tacacs_plus.docker_binary }} compose -f compose.yml up -d --remove-orphans
ExecStop={{ docker_tacacs_plus.docker_binary }} compose -f compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
