[Unit]
Description=SNMPv3 mock testhost Docker Compose project
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ docker_snmpv3_testhost.project_dir }}
ExecStart={{ docker_snmpv3_testhost.docker_binary }} compose -f {{ docker_snmpv3_testhost.project_dir }}/compose.yml up -d --pull {{ docker_snmpv3_testhost.pull_policy }} --remove-orphans
ExecStop={{ docker_snmpv3_testhost.docker_binary }} compose -f {{ docker_snmpv3_testhost.project_dir }}/compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
