[Unit]
Description=Zabbix Docker Compose project
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ docker_zabbix.project_dir }}
ExecStart={{ docker_zabbix.docker_binary }} compose -f {{ docker_zabbix.project_dir }}/compose.yml up -d --pull {{ docker_zabbix.pull_policy }} --remove-orphans
ExecStop={{ docker_zabbix.docker_binary }} compose -f {{ docker_zabbix.project_dir }}/compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
